body {
    background-color: black;
}

.postcard {
    position: absolute;
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 40px;
    border: 2px gray solid;
}

.postcard img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
}

.backside {
    /* transform: rotateY(90deg); */
    -webkit-animation:front2back 1s linear forwards;
    -moz-animation:front2back 1s linear forwards;
    animation:front2back 1s linear forwards;
}

.frontside {
    transform: rotateY(-90deg);
    -webkit-animation:back2front 1s linear forwards;
    -moz-animation:back2front 1s linear forwards;
    animation:back2front 1s linear forwards;
    animation-delay: 1s;
}
@-moz-keyframes back2front { from { -moz-transform: rotateY(-90deg); } to { -moz-transform: rotateY(0deg); } }
@-webkit-keyframes back2front { from { -webkit-transform: rotateY(-90deg); } to { -webkit-transform: rotateY(0deg); } }
@keyframes back2front { from { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); } to { -webkit-transform: rotateY(0deg); transform:rotateY(0deg); } }

@-moz-keyframes front2back { from { -moz-transform: rotateY(0deg); } to { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes front2back { from { -webkit-transform: rotateY(0deg); } to { -webkit-transform: rotateY(90deg); } }
@keyframes front2back { from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } to { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); } }

#separator {
    position: absolute;
    height: 400px;
    top: 150px;
    left: 440px;
    width: 0px;
    border: 2px gray dashed;
}

#stamp {
    position: absolute;
    width: 100;
    height: 130px;
    right: 20px;
    top: 20px;
    border: 2px gray dashed;
}

#stamp img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
}

#title {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 48;
    font-style: serif;
    color: gray;
    height: 150px;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    position: absolute;
    display: table;
    width: 400px;
    height: 400px;
    bottom: 0px;
    padding: 30px;
    color: black;
    overflow: hidden;
}

#content-inner {
    display: table-cell;
    vertical-align: middle;
    font-size: 18;
    font-family: content, serif;
}

#address {
    position: absolute;
    width: 300px;
    right: 30px;
    height: 300px;
    bottom: 50px;
    /* border: 2px dashed gray; */
    text-decoration: underline, dotted, gray;
    font-size: 30;
    font-family: content, serif;
}
