<html>
    <head>
        <title>Postcard</title>
        <style>
         {{ style }}
         @font-face{
             font-family: content;
             src: url(data:application/x-font-woff;charset=utf-8;base64,{{ content_font }})
         }
        </style>
    </head>
    <body>
        <div id="picture" class="postcard backside" onclick="swapSides();">
            <img alt="" src="data:image/{{ front_imagetype }};base64,{{ front_image }}"/>
        </div>
        <div id="text" class="postcard frontside" onclick="swapSides();">
            <div id="postcard">
                <div id="title">
                    {{ title }}
                </div>
                <div id="content">
                    <div id="content-inner">
                        {{ content }}
                    </div>
                </div>
                <div id="stamp">
                    {% if stamp %}
                        <img alt="" src="data:image/jpg;base64,{{ stamp }}"/>
                    {% endif %}
                </div>
                <div id="separator"></div>
                <div id="address">
                    {{ address }}
                </div>
            </div>
        </div>

        <script type="text/javascript">
         function swapSides() {
             document.getElementById("picture").classList.toggle('frontside')
             document.getElementById("picture").classList.toggle('backside')
             document.getElementById("text").classList.toggle('frontside')
             document.getElementById("text").classList.toggle('backside')
         }
        </script>
    </body>


</html>
